<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"
          integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="bg-gradient"></div>
<div class="bg-pattern"></div>

<div class="menu-bg">
    <div class="menu-container">
        <ul>
            <li class="menu-item"><a href="#">Home</a></li>
            <li class="menu-item"><a href="#">Blog</a></li>
            <li class="menu-item"><a href="#">Projects</a></li>
            <li class="menu-item"><a href="#">Social</a></li>
            <li class="menu-item"><a href="#">Contact</a></li>
        </ul>
    </div>
</div>

<nav>
    <a href="#menu"></a>
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <header>
                <div class="logo">
                    <i class="logo-icon fa fa-cube" aria-hidden="true"></i>
                </div>
            </header>

            <section class="main">
                <div class="post">
                    <div class="post-header">
                        <h1 class="title">Lorem ipsum dolor</h1>
                        <div class="post-info">
                            <span class="date">June 24, 2016</span>
                            <span class="comments">3 Comments</span>
                            <span class="category"><a>DEVELOPMENT</a></span>
                        </div>
                    </div>
                    <div class="content"><p>Lorem ipsum dolor <a>sit amet</a>, consectetur adipisicing elit. Consequatur
                        deleniti error, fuga harum iusto minima possimus praesentium repellendus unde voluptate.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dicta ea fugiat ipsam
                            laboriosam magnam nemo quae sint temporibus. Explicabo. Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. <a>A adipisci, amet</a>, at autem corporis cumque doloremque
                            error eveniet fugit, libero natus reprehenderit sapiente totam ullam voluptate! Assumenda
                            eos tempora temporibus!</p>

                        <p>私は昨日ついにその助力家というのの上よりするたなけれ。</p>
                        <p>最も今をお話団はちょうどこの前後なかろでくらいに困りがいるたをは帰着考えたなかって、そうにもするでうたらない。</p>
                        <p>がたを知っないはずも同時に九月をいよいよたありた。</p>

                        <p>善我王上魚、產生資西員合兒臉趣論。畫衣生這著爸毛親可時，安程幾？合學作。觀經而作建。都非子作這！法如言子你關！手師也。</p>
                        <p>以也座論頭室業放。要車時地變此親不老高小是統習直麼調未，行年香一？</p>
                        <p>
                            就竟在，是我童示讓利分和異種百路關母信過明驗有個歷洋中前合著區亮風值新底車有正結，進快保的行戰從：弟除文辦條國備當來際年每小腳識世可的的外的廣下歌洲保輪市果底天影；全氣具些回童但倒影發狀在示，數上學大法很，如要我……月品大供這起服滿老？應學傳者國：山式排只不之然清同關；細車是！停屋常間又，資畫領生，相們制在？公別的人寫教資夠。資再我我！只臉夫藝量不路政吃息緊回力之；兒足灣電空時局我怎初安。意今一子區首者微陸現際安除發連由子由而走學體區園我車當會，經時取頭，嚴了新科同？很夫營動通打，出和導一樂，查旅他。坐是收外子發物北看蘭戰坐車身做可來。道就學務。</p>

                        <p>All HTML Elements:</p>
                        <h1 id="Heading-1"><a href="#Heading-1" class="headerlink" title="Heading 1"></a>Heading 1</h1>
                        <h2 id="Heading-2"><a href="#Heading-2" class="headerlink" title="Heading 2"></a>Heading 2</h2>
                        <h3 id="Heading-3"><a href="#Heading-3" class="headerlink" title="Heading 3"></a>Heading 3</h3>
                        <h4 id="Heading-4"><a href="#Heading-4" class="headerlink" title="Heading 4"></a>Heading 4</h4>
                        <h5 id="Heading-5"><a href="#Heading-5" class="headerlink" title="Heading 5"></a>Heading 5</h5>
                        <h6 id="Heading-6"><a href="#Heading-6" class="headerlink" title="Heading 6"></a>Heading 6</h6>
                        <hr>
                        <h2 id="Paragraph"><a href="#Paragraph" class="headerlink" title="Paragraph"></a>Paragraph</h2>
                        <p>Lorem ipsum dolor sit amet, <a href="">test link</a> consectetur adipiscing elit. <strong>Strong
                            text</strong> pellentesque ligula commodo viverra vehicula. <em>Italic text</em> at
                            ullamcorper enim. Morbi a euismod nibh. <u>Underline text</u> non elit nisl.
                            <del>Deleted text</del>
                            tristique, sem id condimentum tempus, metus lectus venenatis mauris, sit amet semper lorem
                            felis a eros. Fusce egestas nibh at sagittis auctor. Sed ultricies ac arcu quis molestie.
                            Donec dapibus nunc in nibh egestas, vitae volutpat sem iaculis. Curabitur sem tellus,
                            elementum nec quam id, fermentum laoreet mi. Ut mollis ullamcorper turpis, vitae facilisis
                            velit ultricies sit amet. Etiam laoreet dui odio, id tempus justo tincidunt id. Phasellus
                            scelerisque nunc sed nunc ultricies accumsan.
                        </p>
                        <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. <code>Sed erat diam</code>,
                            blandit eget felis aliquam, rhoncus varius urna. Donec tellus sapien, sodales eget ante
                            vitae, feugiat ullamcorper urna. Praesent auctor dui vitae dapibus eleifend. Proin viverra
                            mollis neque, ut ullamcorper elit posuere eget.</p>
                        <blockquote>
                            <p>Praesent diam elit, interdum ut pulvinar placerat, imperdiet at magna.</p>
                        </blockquote>
                        <p>Maecenas ornare arcu at mi suscipit, non molestie tortor ultrices. Aenean convallis, diam et
                            congue ultricies, erat magna tincidunt orci, pulvinar posuere mi sapien ac magna. Vestibulum
                            ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent vitae
                            placerat mauris. Nullam laoreet ante posuere tortor blandit auctor. Sed id ligula volutpat
                            leo consequat placerat. Mauris fermentum dolor sed augue malesuada sollicitudin. Vivamus
                            ultrices nunc felis, quis viverra orci eleifend ut. Donec et quam id urna cursus posuere.
                            Donec elementum scelerisque laoreet.</p>
                        <h2 id="List-Types"><a href="#List-Types" class="headerlink" title="List Types"></a>List Types
                        </h2>
                        <h3 id="Definition-List-dl"><a href="#Definition-List-dl" class="headerlink"
                                                       title="Definition List (dl)"></a>Definition List (dl)</h3>
                        <dl>
                            <dt>Definition List Title</dt>
                            <dd>This is a definition list division.</dd>
                        </dl>

                        <h3 id="Ordered-List-ol"><a href="#Ordered-List-ol" class="headerlink"
                                                    title="Ordered List (ol)"></a>Ordered List (ol)</h3>
                        <ol>
                            <li>List Item 1</li>
                            <li>List Item 2</li>
                            <li>List Item 3</li>
                        </ol>
                        <h3 id="Unordered-List-ul"><a href="#Unordered-List-ul" class="headerlink"
                                                      title="Unordered List (ul)"></a>Unordered List (ul)</h3>
                        <ul>
                            <li>List Item 1</li>
                            <li>List Item 2</li>
                            <li>List Item 3</li>
                        </ul>
                        <h2 id="Table"><a href="#Table" class="headerlink" title="Table"></a>Table</h2>
                        <table>
                            <thead>
                            <tr>
                                <th>Table Header 1</th>
                                <th>Table Header 2</th>
                                <th>Table Header 3</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Division 1</td>
                                <td>Division 2</td>
                                <td>Division 3</td>
                            </tr>
                            <tr>
                                <td>Division 1</td>
                                <td>Division 2</td>
                                <td>Division 3</td>
                            </tr>
                            <tr>
                                <td>Division 1</td>
                                <td>Division 2</td>
                                <td>Division 3</td>
                            </tr>
                            </tbody>
                        </table>
                        <h2 id="Misc-Stuff-abbr-acronym-sub-sup-etc"><a href="#Misc-Stuff-abbr-acronym-sub-sup-etc"
                                                                        class="headerlink"
                                                                        title="Misc Stuff - abbr, acronym, sub, sup, etc."></a>Misc
                            Stuff - abbr, acronym, sub, sup, etc.</h2>
                        <p>Lorem <sup>superscript</sup> dolor <sub>subscript</sub> amet, consectetuer adipiscing elit.
                            Nullam dignissim convallis est. Quisque aliquam. <cite>cite</cite>. Nunc iaculis suscipit
                            dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula,
                            nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat
                            enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla
                            nonummy. <acronym title="National Basketball Association">NBA</acronym> Mauris a ante.
                            Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue
                            quis tellus. <abbr title="Avenue">AVE</abbr></p>


                        <figure class="highlight javascript">
                            <table>
                                <tr>
                                    <td class="gutter">
                                        <pre><span class="line">1</span><br><span class="line">2</span><br><span
                                                class="line">3</span><br><span class="line">4</span><br><span
                                                class="line">5</span><br><span class="line">6</span><br><span
                                                class="line">7</span><br><span class="line">8</span><br><span
                                                class="line">9</span><br><span class="line">10</span><br><span
                                                class="line">11</span><br><span class="line">12</span><br><span
                                                class="line">13</span><br><span class="line">14</span><br><span
                                                class="line">15</span><br><span class="line">16</span><br></pre>
                                    </td>
                                    <td class="code">
                                        <pre><span class="line"><span class="keyword">const</span> refreshRate = <span
                                                class="number">1000</span> / <span
                                                class="number">60</span>;</span><br><span class="line"><span
                                                class="keyword">const</span> maxXPosition = <span
                                                class="number">400</span>;</span><br><span class="line"><span
                                                class="keyword">let</span> rect = <span class="built_in">document</span>.getElementById(<span
                                                class="string">'rect1'</span>);</span><br><span class="line"><span
                                                class="keyword">let</span> speedX = <span
                                                class="number">1</span>;</span><br><span class="line"><span
                                                class="keyword">let</span> positionX = <span
                                                class="number">0</span>;</span><br><span class="line"></span><br><span
                                                class="line"><span class="function"><span
                                                class="keyword">function</span> <span class="title">step</span>(<span
                                                class="params"></span>) </span>&#123;</span><br><span class="line">  positionX = positionX + speedX;</span><br><span
                                                class="line">  <span class="keyword">if</span> (positionX &gt; maxXPosition || positionX &lt; <span
                                                class="number">0</span>) &#123;</span><br><span class="line">    speedX = speedX * (<span
                                                class="number">-1</span>);</span><br><span
                                                class="line">  &#125;</span><br><span class="line">  rect.style.left = positionX + <span
                                                class="string">'px'</span>;</span><br><span class="line">  <span
                                                class="built_in">window</span>.requestAnimationFrame(step);</span><br><span
                                                class="line">&#125;</span><br><span class="line"></span><br><span
                                                class="line"><span class="built_in">window</span>.requestAnimationFrame(step);</span><br></pre>
                                    </td>
                                </tr>
                            </table>
                        </figure>


                        <figure class="highlight html">
                            <figcaption><span>/app/index.html</span></figcaption>
                            <table>
                                <tr>
                                    <td class="gutter">
                                        <pre><span class="line">1</span><br><span class="line">2</span><br><span
                                                class="line">3</span><br><span class="line">4</span><br><span
                                                class="line">5</span><br><span class="line">6</span><br><span
                                                class="line">7</span><br><span class="line">8</span><br><span
                                                class="line">9</span><br><span class="line">10</span><br><span
                                                class="line">11</span><br><span class="line">12</span><br><span
                                                class="line">13</span><br></pre>
                                    </td>
                                    <td class="code">
                                        <pre><span class="line"><span
                                                class="meta">&lt;!DOCTYPE html&gt;</span></span><br><span
                                                class="line"><span class="tag">&lt;<span
                                                class="name">html</span>&gt;</span></span><br><span class="line"><span
                                                class="tag">&lt;<span
                                                class="name">head</span>&gt;</span></span><br><span
                                                class="line">    <span class="tag">&lt;<span
                                                class="name">meta</span> <span class="attr">charset</span>=<span
                                                class="string">"UTF-8"</span>&gt;</span></span><br><span class="line">    <span
                                                class="tag">&lt;<span class="name">link</span> <span
                                                class="attr">href</span>=<span class="string">"style.css"</span> <span
                                                class="attr">rel</span>=<span class="string">"stylesheet"</span> <span
                                                class="attr">type</span>=<span
                                                class="string">"text/css"</span>/&gt;</span></span><br><span
                                                class="line"><span class="tag">&lt;/<span
                                                class="name">head</span>&gt;</span></span><br><span class="line"><span
                                                class="tag">&lt;<span
                                                class="name">body</span>&gt;</span></span><br><span class="line"></span><br><span
                                                class="line">    <span class="tag">&lt;<span
                                                class="name">div</span> <span class="attr">id</span>=<span
                                                class="string">"timerDiv"</span> <span class="attr">class</span>=<span
                                                class="string">"timer"</span>&gt;</span>12:35<span
                                                class="tag">&lt;/<span
                                                class="name">div</span>&gt;</span></span><br><span
                                                class="line"></span><br><span class="line">    <span
                                                class="tag">&lt;<span class="name">script</span> <span
                                                class="attr">type</span>=<span
                                                class="string">"text/javascript"</span> <span
                                                class="attr">src</span>=<span
                                                class="string">"index.js"</span>&gt;</span><span
                                                class="undefined"></span><span class="tag">&lt;/<span class="name">script</span>&gt;</span></span><br><span
                                                class="line"><span class="tag">&lt;/<span
                                                class="name">body</span>&gt;</span></span><br><span class="line"><span
                                                class="tag">&lt;/<span
                                                class="name">html</span>&gt;</span></span><br></pre>
                                    </td>
                                </tr>
                            </table>
                        </figure>

                        <p><strong>Youtube</strong></p>
                        <div class="video-container">
                            <iframe src="//www.youtube.com/embed/fZswz64dFlw" frameborder="0" allowfullscreen></iframe>
                        </div>


                        <p>This post is used for testing different tags (code, quotes). See <a
                                href="https://hexo.io/docs/tag-plugins.html" target="_blank" rel="external">docs</a> for
                            more info.</p>
                        <h2 id="Block-Quote"><a href="#Block-Quote" class="headerlink" title="Block Quote"></a>Block
                            Quote</h2>
                        <h3 id="Normal-blockquote"><a href="#Normal-blockquote" class="headerlink"
                                                      title="Normal blockquote"></a>Normal blockquote</h3>
                        <blockquote>
                            <p>Praesent diam elit, interdum ut pulvinar placerat, imperdiet at magna.</p>
                        </blockquote>
                        <h3 id="Quote-from-a-book"><a href="#Quote-from-a-book" class="headerlink"
                                                      title="Quote from a book"></a>Quote from a book</h3>
                        <blockquote><p>Do not just seek happiness for yourself. Seek happiness for all. Through
                            kindness. Through mercy.</p>
                            <footer><strong>David Levithan</strong><cite>Wide Awake</cite></footer>
                        </blockquote>
                        <h3 id="Quote-from-Twitter"><a href="#Quote-from-Twitter" class="headerlink"
                                                       title="Quote from Twitter"></a>Quote from Twitter</h3>
                        <blockquote><p>NEW: DevDocs now comes with syntax highlighting. <a href="http://devdocs.io"
                                                                                           target="_blank"
                                                                                           rel="external">http://devdocs.io</a>
                        </p>
                            <footer><strong>@DevDocs</strong><cite><a
                                    href="https://twitter.com/devdocs/status/356095192085962752" target="_blank"
                                    rel="external">twitter.com/devdocs/status/356095192085962752</a></cite></footer>
                        </blockquote>
                        <h3 id="Quote-from-an-article-on-the-web"><a href="#Quote-from-an-article-on-the-web"
                                                                     class="headerlink"
                                                                     title="Quote from an article on the web"></a>Quote
                            from an article on the web</h3>
                        <blockquote><p>Every interaction is both precious and an opportunity to delight.</p>
                            <footer><strong>Seth Godin</strong><cite><a
                                    href="http://sethgodin.typepad.com/seths_blog/2009/07/welcome-to-island-marketing.html"
                                    target="_blank" rel="external">Welcome to Island Marketing</a></cite></footer>
                        </blockquote>
                        <h2 id="Code-Block"><a href="#Code-Block" class="headerlink" title="Code Block"></a>Code Block
                        </h2>
                        <h3 id="Normal-code-block"><a href="#Normal-code-block" class="headerlink"
                                                      title="Normal code block"></a>Normal code block</h3>
                        <figure class="highlight hsp">
                            <table>
                                <tr>
                                    <td class="gutter">
                                        <pre><span class="line">1</span><br></pre>
                                    </td>
                                    <td class="code">
                                        <pre><span class="line">alert(<span class="string">'Hello World!'</span>)<span
                                                class="comment">;</span></span><br></pre>
                                    </td>
                                </tr>
                            </table>
                        </figure>
                        <h3 id="With-caption"><a href="#With-caption" class="headerlink" title="With caption"></a>With
                            caption</h3>
                        <figure class="highlight arduino">
                            <figcaption><span>Array.map</span></figcaption>
                            <table>
                                <tr>
                                    <td class="gutter">
                                        <pre><span class="line">1</span><br></pre>
                                    </td>
                                    <td class="code">
                                        <pre><span class="line"><span class="keyword">array</span>.<span
                                                class="built_in">map</span>(callback[, thisArg])</span><br></pre>
                                    </td>
                                </tr>
                            </table>
                        </figure>
                        <h3 id="With-caption-and-URL"><a href="#With-caption-and-URL" class="headerlink"
                                                         title="With caption and URL"></a>With caption and URL</h3>
                        <figure class="highlight ruby">
                            <figcaption><span>.compact</span><a href="http://underscorejs.org/#compact" target="_blank"
                                                                rel="external">Underscore.js</a></figcaption>
                            <table>
                                <tr>
                                    <td class="gutter">
                                        <pre><span class="line">1</span><br><span class="line">2</span><br></pre>
                                    </td>
                                    <td class="code">
                                        <pre><span class="line">.compact([<span class="number">0</span>, <span
                                                class="number">1</span>, <span class="keyword">false</span>, <span
                                                class="number">2</span>, ‘’, <span class="number">3</span>]);</span><br><span
                                                class="line">=&gt; [<span class="number">1</span>, <span class="number">2</span>, <span
                                                class="number">3</span>]</span><br></pre>
                                    </td>
                                </tr>
                            </table>
                        </figure>
                        <h3 id="Highlighting"><a href="#Highlighting" class="headerlink" title="Highlighting"></a>Highlighting
                        </h3>
                        <figure class="highlight js">
                            <table>
                                <tr>
                                    <td class="gutter">
                                        <pre><span class="line">1</span><br><span class="line">2</span><br><span
                                                class="line">3</span><br><span class="line">4</span><br><span
                                                class="line">5</span><br><span class="line">6</span><br><span
                                                class="line">7</span><br><span class="line">8</span><br><span
                                                class="line">9</span><br><span class="line">10</span><br><span
                                                class="line">11</span><br></pre>
                                    </td>
                                    <td class="code">
                                        <pre><span class="line"><span class="keyword">const</span> http = <span
                                                class="built_in">require</span>(<span
                                                class="string">'http'</span>);</span><br><span
                                                class="line"></span><br><span class="line"><span
                                                class="keyword">const</span> hostname = <span
                                                class="string">'127.0.0.1'</span>;</span><br><span class="line"><span
                                                class="keyword">const</span> port = <span
                                                class="number">1337</span>;</span><br><span
                                                class="line"></span><br><span class="line">http.createServer((req, res) =&gt; &#123;</span><br><span
                                                class="line">  res.writeHead(<span
                                                class="number">200</span>, &#123; <span
                                                class="string">'Content-Type'</span>: <span
                                                class="string">'text/plain'</span> &#125;);</span><br><span
                                                class="line">  res.end(<span
                                                class="string">'Hello World\n'</span>);</span><br><span class="line">&#125;).listen(port, hostname, () =&gt; &#123;</span><br><span
                                                class="line">  <span class="built_in">console</span>.log(<span
                                                class="string">`Server running at http://<span class="subst">$&#123;hostname&#125;</span>:<span
                                                class="subst">$&#123;port&#125;</span>/`</span>);</span><br><span
                                                class="line">&#125;);</span><br></pre>
                                    </td>
                                </tr>
                            </table>
                        </figure>
                        <p>Note: Theme’s style should support <code>.highlight.line.marked</code> (recommend to use the
                            selection or current line color).</p>
                        <h3 id="Gist"><a href="#Gist" class="headerlink" title="Gist"></a>Gist</h3>
                        <script src="//gist.github.com/996818.js"></script>
                        <h3 id="jsFiddle"><a href="#jsFiddle" class="headerlink" title="jsFiddle"></a>jsFiddle</h3>
                        <iframe scrolling="no" width="100%" height="300"
                                src="http://jsfiddle.net/ccWP7/embedded/js,resources,html,css,result/light"
                                frameborder="0" allowfullscreen></iframe>
                        <h2 id="Pullquote"><a href="#Pullquote" class="headerlink" title="Pullquote"></a>Pullquote</h2>
                        <h3 id="Left"><a href="#Left" class="headerlink" title="Left"></a>Left</h3>
                        <blockquote class="pullquote left"><p>Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit.</p>
                        </blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempus molestie arcu, et
                            fringilla mauris placerat ac. Nullam luctus bibendum risus. Ut cursus sed ipsum feugiat
                            egestas. Suspendisse elementum, velit eu consequat consequat, augue lorem dapibus libero,
                            eget pulvinar dolor est sit amet nulla. Suspendisse a porta tortor, et posuere mi.
                            Pellentesque ultricies, mi quis volutpat malesuada, erat felis vulputate nisl, ac congue
                            ante tortor ut ante. Proin aliquam sem vel mauris tincidunt, eget scelerisque tortor
                            euismod. Nulla tincidunt enim nec commodo dictum. Mauris id sapien et orci gravida luctus id
                            ut dui. In vel vulputate odio. Duis vel turpis molestie, scelerisque enim eu, lobortis eros.
                            Cras at ipsum gravida, sagittis ante vel, viverra tellus. Nunc mauris turpis, elementum
                            ullamcorper nisl pretium, ultrices cursus justo. Mauris porttitor commodo eros, ac ornare
                            orci interdum in. Cras fermentum cursus leo sed mattis. In dignissim lorem sem, sit amet
                            elementum mauris venenatis ac.</p>
                        <h3 id="Right"><a href="#Right" class="headerlink" title="Right"></a>Right</h3>
                        <blockquote class="pullquote right"><p>Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit.</p>
                        </blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ligula justo, lobortis sit amet
                            semper vel, dignissim sit amet libero. Praesent ac tempus ligula. Maecenas at gravida odio.
                            Etiam tristique volutpat lacus eu faucibus. Donec non tempus arcu. Phasellus adipiscing,
                            mauris nec mollis egestas, ipsum nunc auctor velit, et rhoncus lorem ipsum at ante. Praesent
                            et sem in velit volutpat auctor. Duis vel mauris nulla. Maecenas mattis interdum ante, quis
                            sagittis nibh cursus et. Nulla facilisi. Morbi convallis gravida tortor, ut fermentum enim
                            gravida et. Nunc vel dictum nisl, non ultrices libero. Proin vestibulum felis eget orci
                            consectetur lobortis. Vestibulum augue nulla, iaculis vitae augue vehicula, dignissim
                            ultrices libero. Sed imperdiet urna et quam ultrices tincidunt nec ac magna. Etiam vel
                            pharetra elit.</p>

                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="push"></div>

<footer class="footer-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 recent-posts">
                <h2>Recent Posts</h2>
                <ul>
                    <li><a class="footer-post">Lorem ipsum</a></li>
                    <li><a class="footer-post">ullam dolor</a></li>
                    <li><a class="footer-post">sit consectetur</a></li>
                    <li><a class="footer-post">totam voluptate</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 footer-categories">
                <h2>Categories</h2>
                <ul>
                    <li><a class="footer-category">Development</a></li>
                    <li><a class="footer-category">Showcase</a></li>
                    <li><a class="footer-category">Tutorial</a></li>
                    <li><a class="footer-category">JavaScript</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery first, then Bootstrap JS. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"
        integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/jquery.gsap.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>