<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"
          integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="bg-gradient"></div>
<div class="bg-pattern"></div>

<div class="menu-bg">
    <div class="menu-container">
        <ul>
            <li class="menu-item"><a href="#">Home</a></li>
            <li class="menu-item"><a href="#">Blog</a></li>
            <li class="menu-item"><a href="#">Projects</a></li>
            <li class="menu-item"><a href="#">Social</a></li>
            <li class="menu-item"><a href="#">Contact</a></li>
        </ul>
    </div>
</div>

<nav>
    <a href="#menu"></a>
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <header>
                <div class="logo">
                    <i class="logo-icon fa fa-cube" aria-hidden="true"></i>
                </div>
            </header>

            <section class="main">
                <div class="archive-post"><a href="#">Lorem ipsum dolor.</a></div>
                <div class="archive-post"><a href="#">Accusamus amet, obcaecati!</a></div>
                <div class="archive-post"><a href="#">Harum, necessitatibus tenetur!</a></div>
                <div class="archive-post"><a href="#">Aliquid, ducimus, tenetur.</a></div>
                <div class="archive-post"><a href="#">Amet earum, suscipit.</a></div>
                <div class="archive-post"><a href="#">Aliquam, delectus, ullam!</a></div>
                <div class="archive-post"><a href="#">Aspernatur, harum quo!</a></div>
                <div class="archive-post"><a href="#">Nisi saepe, tenetur?</a></div>
                <div class="archive-post"><a href="#">Ducimus, praesentium, vel.</a></div>
                <div class="archive-post"><a href="#">Alias, maiores, repellat!</a></div>
                <div class="archive-post"><a href="#">Maiores, quae, quisquam.</a></div>
                <div class="archive-post"><a href="#">Ipsam, rem, sequi.</a></div>
                <div class="archive-post"><a href="#">Ipsam, laboriosam soluta.</a></div>
                <div class="archive-post"><a href="#">Fugiat, recusandae, sapiente!</a></div>
                <div class="archive-post"><a href="#">Ea, esse optio?</a></div>
            </section>
        </div>
    </div>
</div>

<div class="push"></div>

<footer class="footer-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 recent-posts">
                <h2>Recent Posts</h2>
                <ul>
                    <li><a class="footer-post">Lorem ipsum</a></li>
                    <li><a class="footer-post">ullam dolor</a></li>
                    <li><a class="footer-post">sit consectetur</a></li>
                    <li><a class="footer-post">totam voluptate</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 footer-categories">
                <h2>Categories</h2>
                <ul>
                    <li><a class="footer-category">Development</a></li>
                    <li><a class="footer-category">Showcase</a></li>
                    <li><a class="footer-category">Tutorial</a></li>
                    <li><a class="footer-category">JavaScript</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery first, then Bootstrap JS. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"
        integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/jquery.gsap.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>