<div class="row">
    <div class="col-sm-12">

        <!--Title and Logo-->
        <%- partial('_partial/header.ejs', {logoIcon: '', headerTitle: config.title}) %>

        <section class="main">
            <% page.posts.forEach(function(item, index) { %>
                <%- partial('_partial/article-short', {item: item, index: index}) %>
            <% }); %>
        </section>
    </div>
</div>

<%- partial('_partial/pagination') %>
