<div class="row">
    <div class="col-sm-12">

        <!--Title and Logo-->
        <%- partial('_partial/header.ejs', {logoIcon: page.logoIcon, headerTitle: ''}) %>

        <section class="main">
            <%- partial('_partial/article-long', {item: page}) %>
        </section>

    </div>
</div>
