<div class="archive-post">
    <a href="<%- url_for(item.path)%>">
        <span class="archive-date">
            <%- item.date.format(theme.archive_date_format) %>
        </span>
        <%- item.title || theme.default_post_title || "Untitled" %>
    </a>
</div>