header
  padding-top 100px
  .logo
    a, a:link, a:visited, a:active
      border-bottom none
    margin 0 auto
    text-align center
    .logo-icon
      font-size 60px
      color $mainColor1
      text-shadow $titleTextShadow
    img
      width 100px
      height 100px
      border-radius 50%
    .title
      line-height 100px
      color $mainColor1
      font-family $fontTitle
      text-shadow $titleTextShadow