.wrap-pagination
  margin-top 50px
  font-size 30px
  text-align center
  color $mainColor1
  a
    border-bottom 0
    margin 30px
  a.disabled, a.disabled:active, a.disabled:visited, a.disabled:link, a.disabled:hover
    color $greyTextColor
    opacity 0.3
    text-shadow none
    pointer-events none
