@import url('https://fonts.googleapis.com/css?family=Orbitron:500');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

linearGradient($top, $bottom)
  background: $top
  background: -moz-linear-gradient(top, $top 0%, $bottom 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $top), color-stop(100%, $bottom))
  background: -webkit-linear-gradient(top, $top 0%, $bottom 100%)
  background: -o-linear-gradient(top, $top 0%, $bottom 100%)
  background: -ms-linear-gradient(top, $top 0%, $bottom 100%)
  background: linear-gradient(to bottom, $top 0%, $bottom 100%)

$headerBgColor = #113a47
$bgColor = #0f1516
$mainColor1 = #d7ecff
$greyTextColor = #a9b7c6
$btnBgColor = #d7ecff
$btnTextColor = #113a47
$fontTitle = "Orbitron", sans-serif
$titleTextShadow = 0 0 1px white, 0 0 5px white, 0 0 15px #228dff
$titleTextShadowLight = 0 0 1px white, 0 0 3px white, 0 0 7px #228dff

$xs = '(max-width: 33.9em)'
$sm = '(max-width: 47.9em)'
$md = '(max-width: 61.9em)'
$lg = '(max-width: 74.9em)'